/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  font-family: STHeitiTC-Medium,sans-serif;
  height: 100%;
  min-height: 100%; }

body {
  background-color: #F5F5F5; }

.nav li > a > img {
  width: 24px; }

.navbar {
  margin-bottom: 0px; }

.page-header {
  font-size: 16px;
  border-bottom: 2px solid #eee; }

.sun {
  top: -95px;
  display: inline-block;
  position: relative;
  float: right; }
  .sun img {
    width: 200px; }

.cards {
  top: -118px;
  display: inline-block;
  position: relative;
  width: 100%; }

.card {
  width: 242px;
  height: 270px;
  background: #FBFBFB;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; }
  .card .inner_card {
    padding-left: 10px;
    padding-right: 10px; }
  .card .rep_photo {
    text-align: center;
    padding-top: 20px; }
  .card .rep_name {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;}
  .card .machine {
    font-size: 16px;
    padding: 10px 0 10px;
    text-align: center; 
    border-top: 2px solid #eee;}
    .card .machine .name {
      padding-right: 10px; }
    .card .machine .notification {
      color: #B6244F;
      cursor: pointer; }
    .card .machine .subscribed {
      color: #B3ABAD;}
  .card .content{
    font-size: 16px;
    color: #838383;}
    .card .machine_name{
      padding: 10px 0 5px 8px; 
      margin: 0 auto;
    }
    .card .machine_name img{
      vertical-align: middle; 
    }
    .card .machine_name p{
      display: inline-block; 
      text-align: right;
      padding-left: 7px;
    }
    .card .machine_status{
      padding:10px 0 10px 8px; 
      margin: 0 auto;
    }
    .card .machine_status img{
      vertical-align: middle; 
    }
    .card .machine_status span{
      text-align: right;
      padding-left: 7px;
    }
  .card .chart {
    position:relative;
    margin: auto auto 15px auto;
    width:110px; height:110px;
  }
  .card canvas {
    display: block;
    position:absolute;
    top:14px;
    left:0;
  }
  .card .progress_percent {
      color:#004BA8;
      display:block;
      line-height:20px;
      text-align:center;
      width:110px;
      font-family:sans-serif;
      font-size:12px;
      font-weight:100;
  }
  .card .progress_number {
      color:#004BA8;
      display:block;
      line-height:20px;
      text-align:center;
      width:110px;
      font-family:sans-serif;
      font-size:30px;
      font-weight:100;
  }
  .card .progress_status {
      color:#004BA8;
      display:block;
      line-height:20px;
      text-align:center;
      width:110px;
      font-family:sans-serif;
      font-size:16px;
      font-weight:100;
      padding-top: 42px;
      padding-bottom: 8px;
  }

  .card input {
      width: 200px;
  }


.bottom_img {
  position: fixed;
  bottom: 0; }
  .bottom_img img {
    width: 450px; }

.form-group > label {
  padding-bottom: 10px; }

.jumbotron {
  margin-top: 50px; }

@media (max-width: 480px) {
  .sun {
    display: none;
  }
  .bottom_img{
    display: none;
  }
  .cards{
    margin-top:120px;
  }
  .navbar-collapse.collapse {
  display: block!important;
  }

  .navbar-nav>li, .navbar-nav {
  float: left !important;
  }

  .navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
  }

  .navbar-right {
  float: right!important;
  }
  .navbar-header button{
    display: none;
  }
}

