<div>
	<div class="container">
		<div class="page-header">
			 <p>各樓層洗衣機使用情況</p>
		</div>
		<div class="sun"><img src="assets/images/sun.png"></div>
		<!-- {{ vm.name }} -->
		<div class="cards">
			<div class="col-md-3 col-sm-4">
				<div class="element">
					<div class="card">
						<div class="inner_card">
							<div class="chart" id="graph_1" data-percent="status[0].percent"></div>
							<div class="content">
								<div class="machine_name">
									<img src="assets/images/washing_machine_icon.png">
									<p>女一舍二樓洗衣機A(右)</p>
								</div>
								<div class="machine_status">
									<img src="assets/images/timer_icon.png">
									<span>剩餘</span>
									<span class="min_left">{{status[0].timeLeft}}</span>
									<span>分鐘</span>
								</div>
							</div>	
							<div class="machine" ng-if="isLog()">
								<span class="notification" ng-click = "makeSubscription('0201')" ng-if="!status[0].subscribed" data-toggle="modal" data-target="#myModal">洗好通知我</span>
								<span class="subscribed" ng-if="status[0].subscribed">已訂閱</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4">
				<div class="element">
					<div class="card">
						<div class="inner_card">
							<div class="chart" id="graph_2" data-percent="status[1].percent"></div>
							<div class="content">
								<div class="machine_name">
									<img src="assets/images/washing_machine_icon.png">
									<p>女一舍二樓洗衣機B(左)</p>
								</div>
								<div class="machine_status">
									<img src="assets/images/timer_icon.png">
									<span>剩餘</span>
									<span class="min_left">{{status[1].timeLeft}}</span>
									<span>分鐘</span>
								</div>
							</div>	
							<div class="machine" ng-if="isLog()">
								<span class="notification" ng-click = "makeSubscription('0202')" ng-if="!status[1].subscribed" data-toggle="modal" data-target="#myModal">洗好通知我</span>
								<span class="subscribed" ng-if="status[1].subscribed">已訂閱</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-4">
			</div>
			<div class="col-md-3 col-sm-4">
				<!-- <div class="element">
					<div class="card"></div>
				</div> -->
			</div>

			<!-- modal for 0201 machine -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">提醒</h4>
			      </div>
			      <div class="modal-body">
			        <span>我們將在這台洗衣機本次洗衣完成時用簡訊通知您!</span>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
			        <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
		
	</div>
	<div class="bottom_img">
		<img src="assets/images/hill and house.png">
	</div>
	
</div>
